/* main-text-color: #212121 */
/* secondary-text-color: #757575 */
/* logo-colors: #000000
                #2196F3 */
/* accent-color: #2196F3 */
/* white-color #FFFFFF */
/* address-color: rgba(255, 255, 255, 0.6) */

/* background-color-header: #FFFFFF */
/* background-color-main: #F5F5F5 */
/* background-color-our-team: #F5F4FA; */
/* background-color-footer: #2F303A */
/* background-color-hover: #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  /* CSS-змінні фонові кольори */
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-bg-color: #2196f3;
  --white-bg-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, Raleway, Montserrat, sans-serif;
}

/* скидання деяких налаштувань списків та посилань */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Верхня лінія сторінки Студія */
.logo-web {
  color: #2196f3;
  text-decoration: none;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}
.header {
  background-color: var(--white-bg-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav a {
  color: var(--title-text-color);
}
.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}

.contacts a {
  color: var(--primary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Основний контент сторінки Студія */

/* Герой */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Основний контент Студія-Особливості */

.section-features {
}

.section-features .subtitle {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* "Чим ми займаємося" AND "Наша команда" */

.section-work h2,
.section-team h2 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team {
  background-color: var(--secondary-bg-color);
}

.section-team h3 {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Підвал сторінки */

.footer {
  background-color: var(--footer-bg-color);
}

footer .logo-studio {
  color: #ffffff;
}

.footer .address {
  color: var(--white-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address a:hover,
.footer-address a:focus {
  color: var(--accent-color);
}

/* Main content of a page Portfolio */

.filters .button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  font-family: inherit;
}

.filters .button:hover,
.filters .button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
}

.section-projects h2 {
  color: var(--title-text-color);
}
